<app-nav-bar-header></app-nav-bar-header>
<div class="container-menu-order">
  <section class="menu-side">
    <ul class="ul-menu-side">
      <li class="li-menu-side" (click)="showMenu('breakfast')" id="menu-breakfast">Desayuno</li>
      <li class="li-menu-side" (click)="showMenu('burgers')" id="menu-burger">Burgers</li>
      <li class="li-menu-side" (click)="showMenu('side-dishes')" id="menu-sidedish">Guarnición</li>
      <li class="li-menu-side" (click)="showMenu('drinks')" id="menu-drink">Bebidas</li>
    </ul>
  </section>
  <section class="menu-items">
    <div *ngFor="let item of menu">
      <div class="item" (click)="askIfBurger(item)">
        <img [src]="item.link" alt=""> <!-- Dos formas: [src]="item.link" o  src={{itemlink}}-->
        <p class="item-description">{{ item.description }}</p>
        <p class="item-price">$ {{ item.price }}</p>
      </div>
      <div *ngIf="item.description.startsWith('Hamburguesa')">
        <app-modal-burger [id]="item.id" (sendItem)="obtainingData($event)" [item]="item" #modal></app-modal-burger>
      </div>
    </div>
  </section>
  <section class="order-list">
    <div class="order-name">
      <p class="order-description-client">Cliente:</p>
      <div class="order-getname">{{ name }}</div>
    </div>
    <div class="order-items">
      <table class="table">
        <thead>
          <tr>
            <th>Cant</th>
            <th>Detalle</th>
            <th>Precio</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <th>{{ item.amount }}</th>
            <td>{{ item.description }}</td>
            <td class="price">$ {{ item.price * item.amount }}</td>
            <td><img src="./assets/img/delete.png" (click)="onDeleteItem(item)" ></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <th>Total</th>
            <th>$ {{ total }}</th>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <button class="btn btn-send-order" (click)="sendOrder()">Enviar pedido</button>
    </div>
  </section>
</div>
<app-footer></app-footer>
