.container-menu-order {
  display: flex;
  height: 85vh;
}

.menu-side {
  height: 100%;
  width: 6vw;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.ul-menu-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.li-menu-side {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
  list-style: none;
  background: #FFA10D;
  width: 100%;
  height: 155px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.desayuno, .hamburguesas{
  color: white;
  background-color: #591608;
}

.menu-items {
  width: 47vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 20px;
  overflow: scroll;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 198px;
  height: 216px;
  margin: 10px 0;
  padding: 0 50px;
  border-radius: 20px;
  background: #C5BBB1;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.item-description {
  color: #591608;
  text-align: center;
}

.item-price {
  color: #B43011;
}

.order-list {
  padding: 20px;
}

.order-name {
  display: flex;
  width: 47vw;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #591608;
  margin: 0 0 10px 0;
}

.order-getname {
  background: #FF9D84;
  width: 70%;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}

.order-items {
  max-height: 73.5vh;
  background: #C5BBB1;
  border-radius: 20px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: scroll;
}

table {
  width: 90%;
  font-size: 18px;
  border-collapse: collapse;
  max-width: 0px auto;
}

table th{
  padding: 3px 20px;
  border-bottom: 1px solid #ddd;
  color: #A7290D;
}
table tr{
  border-bottom: 1px solid #ddd
}

.price {
  text-align: center;
}

.btn-send-order {
  min-height: 53px;
}

/* Modal!!!! */

.container-modal {
  background: rgba(197, 187, 177, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 16px;
}

dialog {
  left: 40%;
  width: 423px;
  height: 327px;
  background: #E8E3D9;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

dialog p {
  color: #B43011;
}

dialog label {
  color: #591608;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

dialog img {
  width: 39px;
  height: 39px;
}

/*otro codigo*/
input[type="checkbox"] + label {
  display: block;
  margin: 4.8px;
  cursor: pointer;
  padding: 4.8px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  position: absolute;
  top: 70px;
  left: 30px;
  content: "\2714";
  background-color: #D9D9D9;
  border-radius: 4.8px;
  display: inline-block;
  width: 30px;
  height: 20px;
  padding-left: 2px;
  padding-bottom: 10px;
  margin-right: 4.8px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: #B43011;
  border-color: #B43011;
  color: #fff;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}
/*otro codigo*/

/* dialog label:before {
  content: ' ';
  border-radius: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 70px;
  left: 25px;
  display: inline-block;
  padding: 0px 5px 10px 5px;
  background-color: #D9D9D9;
}

dialog input[type="checkbox"] + label:before {
  content: '\2714';
}

dialog input {
  /* width: 20px;
  height: 20px; 
  display: none;
} */

.dialog-extras {
  display: flex;
  gap: 30px;
}

.btn-add {
  min-height: 40px;
}

.container-extra {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 146px;
  height: 178px;
  background: #FFA10D;
  border-radius: 20px;
  padding-top: 12px;
}